@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:global(.header) {
  display: flex;
  font-size: 20px;
  color: #D76C82;
  width: 100%;
  height: 20%;
  justify-content: space-between;
}

:global(.navbar) {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3rem;
}

:global(.navbar) a {
  text-decoration: none;
  color: black;
  font-family: "Archivo Black", sans-serif;
}

:global(.home) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}

:global(.button1) {
  font-family: "Archivo Black", sans-serif;
  background-color: #F7CA47;
  color: black;
  border: none;
  font-size: 16.5px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  top: 65px;
  left: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 45%;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
}

:global(.button1):hover {
  opacity: 1;
}

:global(.button1):active {
  transform: translateY(4px);
}

:global(.leclerc) {
  background-color: #FCEEE3;
  padding: 3rem 3rem 3rem 3rem;
}

:global(.charles) {  
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 12px;
  padding: 1rem 4rem 3rem 4rem;
  box-shadow: 4px 4px 0px black;
}

.bg { 
  background-color: #FCEEE3;
}

:global(.paragraph) {
  font-family: "REM", sans-serif;
  top: 18px;
}

:global(.ptext) {
  font-family: "REM", sans-serif;
  margin: 0;
}

:global(.title1) {
  font-family: "Archivo Black", sans-serif;
  font-size: 65px;
  margin: 0;
}

:global(.desk) {
  width: 50%;
}

:global(.gambar){
  align-self: center;
  width: 10rem;
  height: 10rem;
}

:global(.logo) {
  font-family: "Concert One", sans-serif;
  display: flex;
}

:global(.kotak1) {
  display: flex;
}

:global(.elemen1) {
  position: absolute;
  margin-top: 20px;
  width: 20rem;
  height: 20rem;
}

:global(.kotak2) {
  display: flex;
}

:global(.elemen2) {
  position: relative;
  left: -50px;
  bottom: 10px;
  z-index: 2;
  margin-right: -100px;
  width: 10rem;
  height: 10rem;
}

:global(.kotak3) {
  display: flex;
}

:global(.elemen3) {
  position: relative;
  left: 200px;
  top: 88px;
  z-index: 2;
  width: 6.5rem;
  height: 6.5rem;
}

:global(.kotak4) {
  display: flex;
}

:global(.elemen4) {
  position: relative;
  right: -10px;
  top: 187px;
  z-index: 2;
  width: 12.5rem;
  height: 12.5rem;
}

:global(.elemen5) {
  width: 8.5rem;
  height: 8.5rem;
}

:global(.kotak5) {
  position: relative;
  top: -200px;
  right: 120px;
}

:global(.button2) {
  font-family: "Archivo Black", sans-serif;
  width: 7rem;
  height: 2rem;
  border: 2px solid black;
  box-shadow: 3px 3px 0px black;
  background-color: #91A7EB;
  border-radius: 8px;
}

:global(.kotak6) {
  position: relative;
  left: 470px;
  top: -40px;
}

:global(.box1) {
  background-color: #FFFFFF;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  display: flex;
  height: 55%;
  width: 23%;
  border-radius: 5px;
}

:global(.box2) {
  background-color: #FFFFFF;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  display: flex;
  height: 55%;
  width: 23%;
  border-radius: 5px;
}

:global(.box3) {
  background-color: #FFFFFF;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  display: flex;
  height: 55%;
  width: 23%;
  border-radius: 5px;
}

:global(.container) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

:global(.purple) {
  width: 30%;
  height: 13%;
  background-color: #91A7EB;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  position: relative;
  border-radius: 10px;
  right: -25px;
  top: 25px;
}

:global(.lat) {
  width: 100%;
}

:global(.green) {
  width: 30%;
  height: 19%;
  position: relative;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 50%;
  background-color: #198279;
  right: -25px;
  top: 25px;
}

:global(.pink) {
  width: 30%;
  height: 19%;
  position: relative;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 50%;
  background-color: #E64C87;
  right: -25px;
  top: 25px;
}

:global(.tempat) {
  display: flex;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  width: 90%;
  height: 75%;
  margin: 0 auto 5rem;
  background-color: #D9D9D9;
}

:global(.initext) {
  margin-top: 200px;
  font-size: 5px;
  color: #000;
}
