@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@font-face {
  font-family: 'Object Sans';
  src: url(./fonts/PPObjectSans-Heavy.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans Regular';
  src: url(./fonts/PPObjectSans-Regular.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:global(.header) {
  display: flex;
  font-size: 20px;
  color: #D76C82;
  width: 100%;
  height: 20%;
  justify-content: space-between;
}

:global(.navbar) {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3rem;
}

:global(.navbar) a {
  text-decoration: none;
  color: black;
  font-family: 'Object Sans';
}

:global(.home) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}

:global(.button1) {
  font-family: 'Object Sans';
  background-color: #F7CA47;
  color: black;
  border: none;
  font-size: 16.5px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  top: 65px;
  left: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 45%;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
}

:global(.button1):hover {
  opacity: 1;
}

:global(.button1):active {
  transform: translateY(4px);
}

:global(.line) {
  background-color: #FCEEE3;
  padding: 3rem 3rem 3rem 3rem;
}

:global(.line1) {  
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 12px;
  padding: 1rem 4rem 3rem 4rem;
  box-shadow: 4px 4px 0px black;
}

.bg { 
  background-color: #FCEEE3;
}

:global(.paragraph) {
  font-family: "REM", sans-serif;
  top: 18px;
}

:global(.ptext) {
  font-family: "REM", sans-serif;
  margin: 0;
}

:global(.title1) {
  font-family: 'Object Sans';
  font-size: 70px;
  letter-spacing: 3;
  margin: 0;
}

:global(.desk) {
  width: 50%;
}

:global(.gambar){
  align-self: center;
  width: 10rem;
  height: 10rem;
}

:global(.logo) {
  display: flex;
}

:global(.kotak1) {
  display: flex;
}

:global(.elemen1) {
  position: absolute;
  margin-top: 20px;
  width: 20rem;
  height: 20rem;
}

:global(.kotak2) {
  display: flex;
}

:global(.elemen2) {
  position: relative;
  left: -50px;
  bottom: 10px;
  z-index: 2;
  margin-right: -100px;
  width: 10rem;
  height: 10rem;
}

:global(.kotak3) {
  display: flex;
}

:global(.elemen3) {
  position: relative;
  left: 200px;
  top: 88px;
  z-index: 2;
  width: 6.5rem;
  height: 6.5rem;
}

:global(.kotak4) {
  display: flex;
}

:global(.elemen4) {
  position: relative;
  right: -10px;
  top: 187px;
  z-index: 2;
  width: 12.5rem;
  height: 12.5rem;
}

:global(.elemen5) {
  width: 8.5rem;
  height: 8.5rem;
}

:global(.kotak5) {
  position: relative;
  top: -200px;
  right: 120px;
}

:global(.button2) {
  font-family: "REM", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  width: 7rem;
  height: 2rem;
  border: 2px solid black;
  box-shadow: 3px 3px 0px black;
  background-color: #91A7EB;
  border-radius: 8px;
}

:global(.kotak6) {
  position: relative;
  left: 470px;
  top: -40px;
}

:global(.box1) {
  background-color: #FFFFFF;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  height: 55%;
  width: 23%;
  border-radius: 5px;
  padding: 10px;
}

:global(.box2) {
  background-color: #FFFFFF;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  height: 55%;
  width: 23%;
  border-radius: 5px;
  padding: 10px;
}

:global(.box3) {
  background-color: #FFFFFF;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  height: 55%;
  width: 23%;
  border-radius: 5px;
  padding: 10px;
}

:global(.container) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

:global(.purple) {
  width: 70px;
  height: 70px;
  background-color: #91A7EB;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 10px;
}

:global(.green) {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 50%;
  background-color: #198279;
}

:global(.pink) {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 50%;
  background-color: #E64C87;
}

:global(.introduce) {
  font-family: "Winky Sans", sans-serif;
  margin-top: 35px;
  font-size: 14px;
  padding: 10px 15px;
  line-height: 1.7;
}

:global(.hobby) {
  font-family: "Winky Sans", sans-serif;
  margin-top: 35px;
  font-size: 14px;
  padding: 10px 15px;
  line-height: 1.7;
}

:global(.motivasi) {
  font-family: "Winky Sans", sans-serif;
  margin-top: 35px;
  font-size: 14px;
  padding: 10px 15px;
  line-height: 1.7;
}

:global(.terminal) {
  border-radius: 0.75rem;
  border: 3px solid black;
  overflow: hidden;
  height: 75%;
  font-family: 'Object Sans';
  width: 90%;
  justify-content: center;
  align-items: center;
}

:global(.top-bar) {
  background-color: #ffffff;
  border-bottom: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem 0.75rem 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global(.circles) {
  display: flex;
  gap: 0.5rem;
}

:global(.circle) {
  width: 1rem;
  height: 1rem;
  border: 3px solid black;
  border-radius: 9999px;
  box-shadow: none;
}

:global(.circle.pink) {
  background-color: #E64C87;
}

:global(.circle.yellow) {
  background-color: #F3C743;
}

:global(.circle.warnaapasihini) {
  background-color: #1F9F93;
}

:global(.title) {
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

:global(.content) {
  background-color: #d3d3d3;
  height: 100vh;
}

:global(.sertifikat-section) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}